<h2>About</h2>
<div class="well">
<img src="<%= image_path("FMB_sm.png") %>" class="center-block" style="max-width: 400px;width: 100%;"/>
<h3 style="text-align:center">Fluffy Man-Bunny Software</h3>
</div>



<script>
    $('#homeTab').addClass("active");
</script>