<div class="container-fluid">
    <div class="col-sm-3"></div>
    <div class="well col-sm-6">
        <h1 class="well-header" style="margin-right: auto; margin-left: auto; text-align: center"> Google Login </h1>

        <div class="row">

            <a class="btn btn-danger center-block" style="font-size: 6em; border-radius: .25em; width: 125px" href="/auth/google_oauth2?prompt=select_account&hd=wyo.gov">
                <span style="font-family:serif">g</span>+
            </a>

        </div>
    </div>
    <div class="col-sm-3"></div>
</div>