/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self

 */
 
a.bigger, a.bigger:visited {
    font-size: 3em;
    margin: 10px;
    color: white;
}

.even {
    background-color: #ADD8E6 !important;
}

.datatable-header tr th{
    background-color: #008CBA;
    color: white !important;
}

.navbar-toggle.navbar-left {
  float: left;
  margin-left: 15px;
}