<script>
    $('#reportsTab').addClass("active");
</script>

<h1>Reports</h1>

<div class="container">
  <div class="row" style="margin:10px">
    <%= link_to "Agency Summaries", '/reports/agency', class: "btn btn-lg btn-primary" %>
  </div>
  <div class="row" style="margin:10px">
    <%= link_to "User Summaries", '/reports/user', class: "btn btn-lg btn-primary" %>
  </div>
    <div class="row" style="margin:10px">
    <%= link_to "User Charts", '/reports/userpie', class: "btn btn-lg btn-primary" %>
  </div>
</div>



