<script>
    $('#reportsTab').addClass("active");
</script>

<h1>Reports: User Charts</h1>


<div id="piechart" style="width: 900px; height: 700px;"></div><br>

<%= link_to "Back", '/reports' %>
<div id="barchart" style="width: 900px; height: 800px;"></div><br>

<%= link_to "Back", '/reports' %>


    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {

        var rawData = <%= raw @agg.to_json %>;

        var data = google.visualization.arrayToDataTable(rawData);

        var options = {
          title: 'Total Equipment Value'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
        
        
        var baroptions = {
        title: 'Total Equipment Value',
        chartArea: {width: '50%'},
        hAxis: {
          title: 'Total Equipment Value',
          minValue: 0
        },
        vAxis: {
          title: 'User'
        }
      };

      var barchart = new google.visualization.BarChart(document.getElementById('barchart'));

      barchart.draw(data, baroptions);
        
        
      }
    </script>